.cities-list {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  padding: 0;
  margin: 10px;
  outline: none;
  font-size: 16px;
  color: darkgray;
  cursor: pointer;
  background-color: white;
}

button:hover {
  color: rgb(0, 122, 255);
}

.current-city,
.current-city:hover {
  color: black;
}

.slider {
  height: 1px;
  border-bottom: 1px solid lightgray; 
}

#slider-underline {
  height: 1px;
  position: relative;
  border-bottom: 1px solid black;
  transition: all 0.5s;
}

.time-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}
